<html>
	<head>
		<style>
			.book_creation_container{
				margin:10%;
			}
		</style>
	</head>
	<body>
		<div class="book_creation_container">
			<form method="post" action="./book/create">
				<label for="book_name">Title</label>
				<input type="text" id="title" value="Title"><br>
				<label for="author_name">Author Name</label>
				<input type="text" id="author_name" value="Author"><br>
				<label for="isbn_code">ISBN Code</label>
				<input type="text" id="isbn_code" value="0000000000"><br>
				<input type="submit">
			</form>
		</div>
	</body>
</html>
